@font-face {
    font-family: "Raleway";
    src: url(./assets/Raleway/Raleway-Light.ttf) format("truetype");
}

html {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    position: relative;
    margin: 0;
    background: radial-gradient(white 10%, #dddddd 85%);
    overflow-x: hidden;
}

nav {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 11;
}

.topnav a {
    display: none;
}

.scrolled {
    background-color: #fff !important;
    transition: background-color 100ms linear;
}

.scrolled li {
    background-color: #fff !important;
    transition: background-color 800ms linear;
    color: black;
}

.scrolled h1 {
    background-color: #fff !important;
    transition: background-color 800ms linear;
    color: black;
}

.title:hover {
    font-size: 1.7rem;
}

ul {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
}

ul h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

nav h1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.7;
    font-size: 27px;
}

nav h1:hover {
    font-weight: 300;
}

.topnav img {
    display: none;
}

h1 {
    float: left;
    padding: 1vw;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    line-height: 0.9;
    margin: 0 2vw;
    font-size: 14pt;
    color: white;
}

li {
    list-style-type: none;
    margin-right: 2vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li:hover {
    text-shadow: 1px 1px 5px #000000;
}

h2:hover {
    font-weight: 300;
}

h2 {
    padding: 1vw;
    text-decoration: none;
    font-weight: 200;
    font-size: 14pt;
    font-family: Raleway, sans-serif;
}

.main {
    height: 100vh;
}

.top {
    background: url(./assets/imgs/back.gif);
    width: 50%;
    background-position: right;
    background-attachment: fixed;
}

.top>img {
    position: absolute;
    width: 30vw;
    top: 70vh;
    clip: rect(30vh, 100vw, 100vw, 0px);
    -webkit-mask-image: -webkit-gradient(linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.left-top {
    position: absolute;
    top: 0;
    left: 78%;
    transform: translate(-50%, 19vw);
    text-align: center;
}

.left-top h3 {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 200;
    color: black;
    font-size: 2rem;
    margin-bottom: 50px;
}

.left-top h4 {
    color: black;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.3rem;
    width: 40vw;
}

.imges-mid {
    position: relative;
    line-height: 0;
}

.imges-mid img {
    opacity: 0.5;
    -webkit-mask-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 400px;
    line-height: 0;
}

.steam {
    position: absolute;
    right: 0;
    transform: translate(0%, -93%);
    line-height: 0;
}

.steam img {
    width: 500px;
    opacity: 0.2;
    line-height: 0;
}

.coffe {
    position: absolute;
    right: 0;
    transform: translate(25%, -75%);
    margin: 0;
    padding: 0;
    line-height: 0;
}

.row {
    margin-left: 15vw;
    display: grid;
    grid-template-columns: 19% 22% 22% 22% 22%;
}

.column {
    width: 20vw;
    margin-right: 8px;
    position: static;
}

.column h1 {
    padding-bottom: 100px;
}

.column img {
    z-index: 5;
    width: 20vw;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 35em;
}

.column img:focus {
    outline: none;
}

.column img:hover {
    -webkit-filter: none;
    filter: none;
    transition: all 2.5s;
}

.column:hover {
    z-index: 10;
    transition: all 2.5s;
}
.head{
    height: 0px;
}

.section {
    padding-top: 250px;
}

.mid {
    height: 35rem;
    position: relative;
}

.work-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.mid h4 {
    color: black;
    padding: 3vw;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.3rem;
}


.mid h1 {
    padding-top: 100px;
    font-weight: 200;
    font-size: 24pt;
    color: black;
}

.footer {
    padding: 60px;
    background: #161616;
}

.footer-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    z-index: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    transition: all 2.5s;
}

.footer-bottom a{
    margin-top: 20px;
    margin-left: 20px;
    padding: 2px 20px;
    border-radius: 10px;
    border: #fff solid 1px;
    text-decoration: none;
    color: #fff;
    font-size: 13;
}
.footer-anim{
    background: #00A9C9;
    transition: all 0.5s;
}
.footer-anim-white{
    background: #dddddd;
    color: #000000;
    transition: all 0.5s;
}
.footer-anim-white a{
    margin-top: 20px;
    margin-left: 20px;
    padding: 2px 20px;
    border-radius: 10px;
    border: #000000 solid 1px;
    text-decoration: none;
    color: #000000;
    font-size: 13;
}
.footer-anim-white p{
    color: #000000;
    transition: all 0.5s;
}
.footer-bottom div{
    z-index: 10;
    font-size: 13px;
}
.footer-bottom img {
    width: 50px;
}

.footer-bottom img:hover {
    filter: contrast(200%);
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    line-height: 3;
}

.newspaper {
    line-height: 2;
    opacity: 0.4;
}

.newspaper>h3 {
    font-family: Raleway, sans-serif;
    column-span: all;
    color: #00A9C9;
    text-align: center;
    
}

p {
    color: white;
    margin: 1em auto;
    font-weight: 200;
    font-family: Raleway, sans-serif;
}

.info {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.info>div {
    display: inline-block;
    margin: 0 5px;
    color: white;
    font-weight: 200;
    font-family: Raleway, sans-serif;
}

.info img {
    position: absolute;
    transform: translate(-50%, -20%);
    opacity: 0.1;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    z-index: -2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
    opacity: 0.3;
    width: 90vw;
}

.version-1:after {
    position: absolute;
    content: attr("data-percent");
}

.zero-percent .target {
    stroke-dasharray: 0px 327.6px;
    stroke-dashoffset: 0%;
    stroke:   #00A9C9;
    transition-delay: 0.1s;
}

.zero-percent .background {
    stroke: white;
}

.twenty-percent .target {
    stroke-dasharray: 72.8px 1000px;
    stroke-dashoffset: 0%;
    stroke:#00A9C9;
}

.twenty-percent .background {
    stroke: white;
}

.fifty-percent .target {
    stroke-dasharray: 182px 1000px;
    stroke-dashoffset: 0%;
    stroke:#00A9C9;
    transition-delay: 0.05s;
}

.fifty-percent .background {
    stroke: white;
}

.ninety-percent .target {
    stroke-dasharray: 325.8px 1000px;
    stroke-dashoffset: 0%;
    stroke:#00A9C9;
    transition-delay: 0.2s;
}

.ninety-percent .background {
    stroke: white;
}

.ninety-nine-percent .target {
    stroke-dasharray: 362.8px 1000px;
    stroke-dashoffset: 0%;
    stroke:#00A9C9;
    transition-delay: 0.25s;
}

.ninety-nine-percent .background {
    stroke: white;
}

.eighty-percent .target {
    stroke-dasharray: 289.6px 1000px;
    stroke-dashoffset: 0%;
    stroke:#00A9C9;
    transition-delay: 0.1s;
}

.eighty-percent .background {
    stroke: white;
}

.hidden {
    fill: #161616;
}

/*
    With this method you could even use CSS transitions to animate the percentages.
  */
svg path {
    transition: all 2s;
}

.skill {
    text-align: center;
    margin-bottom: 22px;
}

.writing {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.writing-skill {
    font-size: 19px;
    font-family: Raleway, sans-serif;
    column-span: all;
    color: #00A9C9;
    text-align: center;
    padding-bottom: 20px;
}

.column h1 {
    transform: translate(0%, -70%);
    width: 70vw;
}

.column img {
    transform: translate(-40%, 0%) !important;
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
    .left-top {
        transform: translate(-50%, 38%);
    }
    
}

@media screen and (max-width: 1025px) {
    .column {
        width: 75%;
    }

    .left-top {
        transform: translate(-50%, 40%);
    }
}

@media screen and (max-width: 481px) {

    .work-text {
        text-align: center;
        width: 100% !important;
        transform: translate(0%, 0%);
    }

    h1 {
        margin: 0;
        font-size: 8vw !important;
    }

    .writing {
        grid-template-columns: auto !important;
    }
 
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .writing {
        grid-template-columns: auto !important;
    }
    .footer-bottom p{
        font-size: 24px !important;
    }
    .info p{
        font-size: 25px !important;
    }
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .writing {
        grid-template-columns: auto !important;
    }
    .footer-bottom p{
        font-size: 24px !important;
    }
    .info p{
        font-size: 25px !important;
    }
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .writing {
        grid-template-columns: auto !important;
    }
    .footer-bottom p{
        font-size: 24px !important;
    }
    .info p{
        font-size: 25px !important;
    }
}


@supports (-ms-ime-align:auto) {
    .coffe {
        display: none;
    }
}
@-moz-document url-prefix() {
    .tech-skill{
        transform: translate(-150px, 0);
    }
    .tech-skill-percent{
        transform: translate(-222px, 0);
    }
}
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {

    .row > * {
        float: left;  
        width: 32%;
      }
      html{
          overflow-x: hidden;
      }
      body{
        overflow-y: hidden;
      }
      .mid{
          margin-left: 4vw;
      }
      .work-text{
          padding-top: 300px;
      }
      .work-text-text{
        padding-top: 360px !important;
      }

}